/* .card-preview {
  display: flex;
  margin-bottom: 30px;
}
.card-preview .title {
  font-size: 36px;
  margin-bottom: 25px;
}
.card-preview .preview {
  display: flex;
  justify-content: space-between;
}
 */
