.form-control
{
  margin: auto;
  width: 80%;
  height: 40px;
  border: 1px solid black;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.row
{
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}