
.form-control 
{
  margin: auto;
  width: 70%;
  height: 40px;
  padding: 15px;
  padding-bottom: 3px;
  display:inline-block;
  position: relative;
  margin-left: 14em;
  border-bottom: 1px solid	#e7d4a3;
  border-top: 1px solid #e7d4a3;
  border-left: white;
  border-right: white;
}

/* add responsice media quaries */

@media screen and (max-width: 1200px) {
  .box{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .form-control{
    width: 92%;
    margin-left: 15px;
  }
} 



